%p#notice= notice


#map

:javascript
  var the_markers = #{raw @locations.to_json}

%p
  %b Name:
  = @food_truck.name
%p
  %b Address:
  = @food_truck.address
%p
  %b Latitude:
  = @food_truck.latitude
%p
  %b Longitude:
  = @food_truck.longitude

= link_to 'Edit', edit_food_truck_path(@food_truck)
\|
= link_to 'Food Trucks', food_trucks_path
\|
= link_to 'Home', root_path
